<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Event to Google Calendar</title>
</head>
<body>
<h1>Add Event to Google Calendar</h1>

<div class="navbar">
    <a th:href="@{/}">Logout</a>
    <a th:href="@{/calendar}">Agenda</a>
    <a th:href="@{/addevent}">Add Event</a>
    <a th:href="@{/slot/available}">List Events</a>
    <a th:href="@{#}" style="float: left;background: #ddd;color: black;font-weight:bold;">Spring Boot Application</a>
</div>
<form th:action="@{/addevent}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    Event name: <input type="text" name="eventName"><br>
    Start time: <input type="datetime-local" name="startTime"><br>
    End time: <input type="datetime-local" name="endTime"><br>
    <input type="submit" value="Add Event">
</form>

</body>
</html>
